.buttonserver {
    height: 40px;
    width: 120px;
    margin: 5%;
    background-color: #52a6fa;
}

.homework3input {
    height: 40px;
    width: 120px;
    margin: 1%;
    background-color: red;
}